In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("train_df.csv", index_col = 'id')
test =pd.read_csv('test_df.csv', index_col = 'id')

In [3]:
df.head()

,att1,att2,att3,att4,att5,att6,att7,att8,att9,att10,...,att492,att493,att494,att495,att496,att497,att498,att499,att500,y
id,,,,,,,,,,,,,,,,,,,,,
1,-0.731269,-0.331709,0.180212,0.729356,1.226720,1.584864,1.719098,1.622404,1.349615,0.957586,...,-0.226743,-0.314246,-0.465901,-0.688740,-0.953811,-1.213037,-1.418047,-1.515915,-1.507342,1
2,1.625923,1.174887,0.633557,0.097815,-0.323979,-0.522682,-0.501078,-0.309937,-0.053305,0.074495,...,0.149040,-0.350204,-0.763172,-1.028119,-1.146848,-1.082185,-0.872399,-0.599113,-0.264919,0
3,0.943523,0.928455,0.959547,0.991248,0.996443,0.959983,0.831277,0.580112,0.235417,-0.143359,...,-0.473332,-0.332077,-0.246990,-0.230341,-0.283385,-0.312471,-0.282186,-0.173181,-0.034611,0
4,-0.990329,-1.200994,-1.383529,-1.503270,-1.538072,-1.420004,-1.121234,-0.669089,-0.146006,0.340561,...,-1.112609,-0.271551,0.495545,1.105130,1.489297,1.608930,1.509580,1.298080,1.038514,0
5,1.014455,0.688760,0.372491,0.081209,-0.188529,-0.464427,-0.759484,-1.068931,-1.362857,-1.605835,...,0.661333,0.827912,0.875500,0.809332,0.685075,0.552655,0.467893,0.454164,0.499379,0

In [4]:
df.shape

(3636, 501)

In [5]:
import keras
import tensorflow as tf
from keras.models import Sequential
from keras.layers import Dense, Dropout, Conv1D, MaxPooling1D
from keras.engine.input_layer import Input
from keras.callbacks import TerminateOnNaN
from sklearn.model_selection import train_test_split

Using TensorFlow backend.

In [6]:
X_train, X_test, y_train, y_test = train_test_split(df.drop('y', axis = 1), df.y)

In [7]:
nn = Sequential()
nn.add(Dense(128,  input_dim=500))
nn.add(Dropout(0.5))
nn.add(Dense(64, activation='relu'))
nn.add(Dropout(0.5))
# nn.add(Input(shape = 500))
# nn.add(Conv1D(32, 3, padding="same", activation="relu", input_shape = X_train.shape))
# nn.add(MaxPooling1D(pool_size=3))
nn.add(Dense(1, activation = 'sigmoid'))
# nn.add(Dense(2, activation='softmax'))
nn.compile(loss='binary_crossentropy', optimizer='Nadam', metrics=['accuracy'])

WARNING:tensorflow:From C:\Users\User\Programs\Anaconda3\lib\site-packages\tensorflow\python\framework\op_def_library.py:263: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.
WARNING:tensorflow:From C:\Users\User\Programs\Anaconda3\lib\site-packages\keras\backend\tensorflow_backend.py:3445: calling dropout (from tensorflow.python.ops.nn_ops) with keep_prob is deprecated and will be removed in a future version.
Instructions for updating:
Please use `rate` instead of `keep_prob`. Rate should be set to `rate = 1 - keep_prob`.

In [9]:
history = nn.fit(X_train, y_train, batch_size=32, epochs=40, 
                      verbose=2, validation_data=[X_test, y_test])

WARNING:tensorflow:From C:\Users\User\Programs\Anaconda3\lib\site-packages\tensorflow\python\ops\math_ops.py:3066: to_int32 (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.
Train on 2727 samples, validate on 909 samples
Epoch 1/40
 - 2s - loss: 1.1109 - acc: 0.5200 - val_loss: 0.6454 - val_acc: 0.6326
Epoch 2/40
 - 1s - loss: 0.8821 - acc: 0.5585 - val_loss: 0.6065 - val_acc: 0.6678
Epoch 3/40
 - 1s - loss: 0.7431 - acc: 0.5955 - val_loss: 0.5735 - val_acc: 0.7305
Epoch 4/40
 - 1s - loss: 0.6600 - acc: 0.6381 - val_loss: 0.5786 - val_acc: 0.7096
Epoch 5/40
 - 0s - loss: 0.6454 - acc: 0.6355 - val_loss: 0.5688 - val_acc: 0.7305
Epoch 6/40
 - 1s - loss: 0.6120 - acc: 0.6564 - val_loss: 0.5495 - val_acc: 0.7536
Epoch 7/40
 - 1s - loss: 0.5884 - acc: 0.6832 - val_loss: 0.5274 - val_acc: 0.7712
Epoch 8/40
 - 1s - loss: 0.5854 - acc: 0.6839 - val_loss: 0.5165 - val_acc: 0.7756
Epoch 9/40
 - 1s - loss: 0.5640 - acc: 0.6945 - val_loss: 0.5120 - val_acc: 0.7536
Epoch 10/40
 - 1s - loss: 0.5502 - acc: 0.7070 - val_loss: 0.4947 - val_acc: 0.7756
Epoch 11/40
 - 1s - loss: 0.5360 - acc: 0.7294 - val_loss: 0.4894 - val_acc: 0.7690
Epoch 12/40
 - 1s - loss: 0.5115 - acc: 0.7492 - val_loss: 0.4684 - val_acc: 0.7734
Epoch 13/40
 - 1s - loss: 0.5097 - acc: 0.7437 - val_loss: 0.4581 - val_acc: 0.7811
Epoch 14/40
 - 1s - loss: 0.5050 - acc: 0.7517 - val_loss: 0.4671 - val_acc: 0.7855
Epoch 15/40
 - 0s - loss: 0.4689 - acc: 0.7730 - val_loss: 0.4580 - val_acc: 0.7778
Epoch 16/40
 - 1s - loss: 0.4873 - acc: 0.7642 - val_loss: 0.4463 - val_acc: 0.7899
Epoch 17/40
 - 0s - loss: 0.4711 - acc: 0.7613 - val_loss: 0.4438 - val_acc: 0.7877
Epoch 18/40
 - 1s - loss: 0.4681 - acc: 0.7697 - val_loss: 0.4309 - val_acc: 0.8031
Epoch 19/40
 - 0s - loss: 0.4611 - acc: 0.7704 - val_loss: 0.4221 - val_acc: 0.8064
Epoch 20/40
 - 1s - loss: 0.4459 - acc: 0.7836 - val_loss: 0.4207 - val_acc: 0.8053
Epoch 21/40
 - 1s - loss: 0.4519 - acc: 0.7833 - val_loss: 0.4218 - val_acc: 0.8064
Epoch 22/40
 - 1s - loss: 0.4355 - acc: 0.7906 - val_loss: 0.4271 - val_acc: 0.7932
Epoch 23/40
 - 0s - loss: 0.4437 - acc: 0.7873 - val_loss: 0.4309 - val_acc: 0.7998
Epoch 24/40
 - 1s - loss: 0.4277 - acc: 0.7957 - val_loss: 0.4160 - val_acc: 0.8053
Epoch 25/40
 - 1s - loss: 0.4094 - acc: 0.8027 - val_loss: 0.4139 - val_acc: 0.8141
Epoch 26/40
 - 1s - loss: 0.4273 - acc: 0.7994 - val_loss: 0.4256 - val_acc: 0.8042
Epoch 27/40
 - 0s - loss: 0.4117 - acc: 0.8064 - val_loss: 0.4162 - val_acc: 0.8075
Epoch 28/40
 - 1s - loss: 0.4112 - acc: 0.8152 - val_loss: 0.4274 - val_acc: 0.7877
Epoch 29/40
 - 1s - loss: 0.4227 - acc: 0.7972 - val_loss: 0.4312 - val_acc: 0.7987
Epoch 30/40
 - 1s - loss: 0.4091 - acc: 0.8005 - val_loss: 0.4277 - val_acc: 0.8009
Epoch 31/40
 - 1s - loss: 0.3876 - acc: 0.8188 - val_loss: 0.4299 - val_acc: 0.7954
Epoch 32/40
 - 1s - loss: 0.4112 - acc: 0.8115 - val_loss: 0.4313 - val_acc: 0.7932
Epoch 33/40
 - 1s - loss: 0.3864 - acc: 0.8309 - val_loss: 0.4300 - val_acc: 0.8119
Epoch 34/40
 - 0s - loss: 0.3976 - acc: 0.8174 - val_loss: 0.4259 - val_acc: 0.8031
Epoch 35/40
 - 1s - loss: 0.3860 - acc: 0.8269 - val_loss: 0.4238 - val_acc: 0.8020
Epoch 36/40
 - 1s - loss: 0.3746 - acc: 0.8258 - val_loss: 0.4200 - val_acc: 0.7976
Epoch 37/40
 - 1s - loss: 0.3785 - acc: 0.8269 - val_loss: 0.4242 - val_acc: 0.7888
Epoch 38/40
 - 1s - loss: 0.3694 - acc: 0.8324 - val_loss: 0.4279 - val_acc: 0.8031
Epoch 39/40
 - 1s - loss: 0.3711 - acc: 0.8324 - val_loss: 0.4316 - val_acc: 0.7899
Epoch 40/40
 - 1s - loss: 0.3927 - acc: 0.8280 - val_loss: 0.4277 - val_acc: 0.7800

In [10]:
pred = nn.predict_proba(test)

In [12]:
pred2=[]
for i in pred:
    pred2.append(i[0])

In [13]:
sample = pd.read_csv("SampleSubmission.csv", index_col = 'Id')

In [14]:
sample.head()

    y
Id
0   0
1   0
2   0
3   0
4   0

In [15]:
sample['y']= pred2

In [16]:
sample.to_csv("three.csv")

In [17]:
sample.head()

           y
Id
0   0.999951
1   0.483072
2   0.763185
3   0.842797
4   0.742074